*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F4D467;
}

.Header{
  width: 22rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.Header img{
  width: 10rem;
}

.Header h1{
  font-size: 3rem;
}

.Header input{
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.container{
  border-radius: 1rem;
  background-image: url(https://www.logodesignlove.com/images/classic/nba-logo.jpg) ;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 90%;
  margin: auto;
  margin-bottom: 2rem;
  padding: 1rem;
}

.card{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: auto;
  height: 20rem;
  box-shadow: 2px 2px 2px 2px black;
  background-color: white;
}

/* .card .statistics{
  display: none;
} */

.card:hover img{
  cursor: pointer;
  transform: scale(0.9);
  border-radius: 10px;
}

.card img, .statistics{
  width: 15rem;
  height: 90%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: .7s ease-in-out;
}

.card p{
  padding: 0.5rem;
  background-color: #F4D467;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statistics ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
}

.statistics li{
  list-style-type: none;
}

